#title-app-lead {
    margin-top: 80px;
    margin-bottom: 50px;
}
body {
    background-color: #009ACD;
}

.main-banner {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #009ACD;
    padding-bottom: 20px;
    padding-top: 30px;
    height: 100%;
}

.main-banner h1 {
    font-size: 3em;
}

.main-banner h2 {
    font-size: 2em;
}

.main-banner h1, .main-banner h2, .main-banner h3 {
    color: #fff;
    text-shadow: 0 2px 10px #000;
    z-index: 10;
    letter-spacing: 1px;
}

.top-navbar-container {
    margin-bottom: 0px;
    padding-right: 40px;
}

.top-nav a {
    color: #f5f5f5;
    font-size: 1.2em;
}

.main-banner img {
    height: 400px;
    width: 400px;
}

.main-banner .carousel {
    height: 400px;
}

.main-banner .btn-primary {
    margin-top: 1em;
    font-size: 2.5em;
}


#form-errors {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    font-size: 1em;
    color: #000000;
}

#form-errors ul {
    list-style: none;
}

#tweet-form {
    margin-top: 70px;
}

#page-lead {
    margin-top: 60px;
}

.main-banner .secondary-comment h2{
    margin-top: 40px;
    line-height: 2.2em;
    margin-bottom: 50px;
}

#secondary {
    margin-top: 60px;
    line-height: 2em;
    margin-bottom: 50px;
}